<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Auther:</b>
  <%= @book.auther %>
</p>

<p>
  <b>Category:</b>
  <%= @book.category %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
